#### Tuple
* tuple is a collection of different datatypes enclosed with Parenthesis(()).
* tuple is immutable(value cannot be changed)
* tuple haaving indexing and slicing

### sets
* A set is unordered collection of elements or items.
* every set element is unique(no duplicates) and must be immutable.
* set can also be ussed to perform mathematical set operations like union,intersection,symmetric ddifference,etc....

In [2]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [3]:
#creating python sets
s={1,2,3,4}
print(s)

{1, 2, 3, 4}

In [4]:
type(s)

set

In [8]:
s={}
type(set(s))

set

In [7]:
s1=set()
print(type(s1))

<class 'set'>

In [9]:
s1={1,2,"Hello",(3,4,5,6)}
print(s1)

{1, 2, (3, 4, 5, 6), 'Hello'}

In [17]:
#add aan element
s={1,3,4}
s.add(2)

In [18]:
s

{1, 2, 3, 4}

In [23]:
# update
a={1,2,3}
b={'vidya',"sree"}
a.update(b)

In [24]:
a

{1, 2, 3, 'sree', 'vidya'}

In [25]:
#difference
# It returns the difference of 2 sets
a={'s','v','a','r'}
b={'p','q','r'}
a.difference(b)

{'a', 's', 'v'}

In [27]:
b.difference(a)

{'p', 'q'}

In [28]:
print(a-b)

{'v', 's', 'a'}

In [29]:
print(b-a)

{'q', 'p'}

In [33]:
#difference update
# Removes all element of another set from this set
a={'s','v','a','r'}
b={'p','q','r','a'}
a.difference_update(b)

In [34]:
a

{'s', 'v'}

In [35]:
b

{'a', 'p', 'q', 'r'}

In [57]:
#Symmetric difference
a={'a','b','c','d'}
b={'c','d','e'}
c={}
print(a.symmetric_difference(b))

{'b', 'a', 'e'}

In [36]:
#discard
# removes n element fron the set
a={'s','v','a','r'}
a.discard('r')

In [37]:
a

{'a', 's', 'v'}

In [40]:
s

{1, 2, 3, 4}

In [41]:
s.remove(4)

In [42]:
s

{1, 2, 3}

In [43]:
s.remove(5)

KeyError: 5

In [44]:
s.discard(5)

In [46]:
s

{1, 2, 3}

In [48]:
#intersection
#to print common elements in both sets
a={1,2,3,4,5,6}
b={7,2,4,10,11}
a.intersection(b)

{2, 4}

In [51]:
print(a & b )

{2, 4}

In [52]:
#pop
a={'s','v','a','r'}
a.pop()

'v'

In [54]:
a

{'a', 'r', 's'}

In [55]:
a.pop()

's'

In [56]:
a

{'a', 'r'}

In [1]:
import math
n=math.pow(3,4)
print(n)

81.0