#### Pandas
* Pandas is  open sourcelibrary that allows to perform daata manipulation(Series,DataFrames)
* Derived from PANel Data

#### Why we use pandas
* to handle missing data
* Efficient way to slice the data
* flexible way to merge,concatenate and reshape data

### Datastructures
* Series
* DataFrames

In [1]:
import pandas

In [2]:
import pandas as pd

#### Series
* It is one dimensional data

In [4]:
print(pd.Series([4,6,7,8,9]))

0    4
1    6
2    7
3    8
4    9
dtype: int64

In [5]:
print(pd.Series([4,6,7,8,9],index=[1,2,3,4,5]))

1    4
2    6
3    7
4    8
5    9
dtype: int64

In [16]:
print(pd.Series([[4,6,7,8,9],[10,3,2,4,8]]))

0     [4, 6, 7, 8, 9]
1    [10, 3, 2, 4, 8]
dtype: object

In [19]:
d1=pd.Series(['vidya','civil',28,1,2],[1,2,3,4,5])

In [20]:
d1

1    vidya
2    civil
3       28
4        1
5        2
dtype: object

In [21]:
d1[:]

1    vidya
2    civil
3       28
4        1
5        2
dtype: object

In [23]:
d1[0:4]

1    vidya
2    civil
3       28
4        1
dtype: object

In [24]:
d1[:-2]

1    vidya
2    civil
3       28
dtype: object

In [ ]:
1  1
2  8
3  27
4  64
5  125

In [27]:
pd.Series([i**3 for i in range(1,6)],index=[1,2,3,4,5])

1      1
2      8
3     27
4     64
5    125
dtype: int64

In [30]:
n=int(input())
s=[i**3 for i in range(1,n+1)]
index=[j for j in range(1,n+1)]
pd.Series(s,index)

6

1      1
2      8
3     27
4     64
5    125
6    216
dtype: int64