In [2]:
import pandas as pd
file="income.csv"
d=pd.read_csv(file)
d

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [9]:
for i in d.keys():
    print(i,end=" ")

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [45]:
for i in d.values:
    print(i)

['04000US01' 'Alabama' 37150 37952 42212 44476 39980 40933 42590 43464
 41381]
['04000US02' 'Alaska' 55891 56418 62993 63989 61604 57848 57431 63648
 61137]
['04000US04' 'Arizona' 45245 46657 62993 46914 45739 46896 48621 47044
 50602]
['04000US05' 'Arkansas' 36658 37057 40795 39586 36538 38587 41302 39018
 39919]
['04000US06' 'California' 51755 55319 55734 57014 56134 54283 53367 57020
 57528]

In [12]:
for i in d.items():
    print(i,end=" ")

('GEOID', 0    04000US01
1    04000US02
2    04000US04
3    04000US05
4    04000US06
Name: GEOID, dtype: object) ('State', 0       Alabama
1        Alaska
2       Arizona
3      Arkansas
4    California
Name: State, dtype: object) ('2005', 0    37150
1    55891
2    45245
3    36658
4    51755
Name: 2005, dtype: int64) ('2006', 0    37952
1    56418
2    46657
3    37057
4    55319
Name: 2006, dtype: int64) ('2007', 0    42212
1    62993
2    62993
3    40795
4    55734
Name: 2007, dtype: int64) ('2008', 0    44476
1    63989
2    46914
3    39586
4    57014
Name: 2008, dtype: int64) ('2009', 0    39980
1    61604
2    45739
3    36538
4    56134
Name: 2009, dtype: int64) ('2010', 0    40933
1    57848
2    46896
3    38587
4    54283
Name: 2010, dtype: int64) ('2011', 0    42590
1    57431
2    48621
3    41302
4    53367
Name: 2011, dtype: int64) ('2012', 0    43464
1    63648
2    47044
3    39018
4    57020
Name: 2012, dtype: int64) ('2013', 0    41381
1    61137
2    50602
3    39919
4    57528
Name: 2013, dtype: int64)

In [13]:
d

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [14]:
for i in d.values:
    print(i[1],":",i[6])

Alabama : 39980
Alaska : 61604
Arizona : 45739
Arkansas : 36538
California : 56134

In [51]:
d.values

array([['04000US01', 'Alabama', 37150, 37952, 42212, 44476, 39980, 40933,
        42590, 43464, 41381],
       ['04000US02', 'Alaska', 55891, 56418, 62993, 63989, 61604, 57848,
        57431, 63648, 61137],
       ['04000US04', 'Arizona', 45245, 46657, 62993, 46914, 45739, 46896,
        48621, 47044, 50602],
       ['04000US05', 'Arkansas', 36658, 37057, 40795, 39586, 36538,
        38587, 41302, 39018, 39919],
       ['04000US06', 'California', 51755, 55319, 55734, 57014, 56134,
        54283, 53367, 57020, 57528]], dtype=object)

#### Object Oriented Progrmming Language(Oops)
* Python is also a Object Oriented Progrmming Language.
* It allows us to develop appications using oops approach.
* In python we can use easily create and use classes and objectss.
* aan oopss is to design the program ussing classes and objects.
* the oopss concept focusses on writing the reusable code.
#### Major principles of oops
* Class
* Object
* Constructor
* Inheritance

**class**
* It can be defined as a collection of objects.
* **syntax**
        class class_name():
        
            list of vars
            list of methods

* ex: student class,it should be contain attributes and methods i.e. name,branch,rollno,etc...
* collection of variables and methods.
* **Function**: collection of statements
* **method**:if function is existed inside the class then it called as method 
* **class** is a **keyword** for creating class structure.
    - Rules for class name
        * class name starts with uppercase
* class and object are interrelated with each other

In [15]:
class Hii():
    name="sreevidya"
    rollno=28
    def hello():
        print("welcome all")

In [17]:
Hii.name #' . ' is message calling operator,Hii is a classname

'sreevidya'

In [18]:
Hii.rollno

28

In [21]:
Hii.hello()

welcome all

In [26]:
class Student():
    name="abc"
    branch="civil"
    rollno=28
    clg="gec"
    gmail="abc123@gmail.com"
    def h1():
        print("student details")

In [27]:
Student.name

'abc'

In [36]:
Student.h1

#### Object
* object is a instance of class
* every object will have certain attributes and behaviour
* we define class,it needs to create an object to allocate the memory.

In [30]:
#objectname = classname
obj=Hii

In [31]:
print(obj)

<class '__main__.Hii'>

In [32]:
print(dir(obj))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'hello', 'name', 'rollno']

In [33]:
#Student class
o = Student

In [34]:
print(o)

<class '__main__.Student'>

In [35]:
print(dir(o))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'branch', 'clg', 'gmail', 'h1', 'name', 'rollno']

In [37]:
class Math():
    #inside the class defining add(),sub(),mul() and div
    def add(a,b):
        return a+b
    def sub(a,b):
        return a-b
    def mul(a,b):
        return a*b
    def div(a,b):
        return a/b

In [43]:
#object creation
#objectname = classname
cal = Math
print("addition",cal.add(19,27))
print("subtraction",cal.sub(57,43))
print("multiplication",cal.mul(53,8))
print("divission",cal.div(47,3))

addition 46
subtraction 14
multiplication 424
divission 15.666666666666666