# Python programming
## Batch 4
### MarkDown format
#### python Basics
##### from 3rd Aug
###### Online python classes

1. keywords
1. variables
1. operators


* keywords
* variables
* operators

* 7
* if the num has two factors i.e 1 and itself then it prime number
* 1,7

n = 10

In [1]:
n = 10

In [1]:
n1 = 30

In [3]:
n = 29

## python Basics
1. variables
2. keywords
3. operators

#variables
#data types
* int --> numbers ---> int
* float --> 4.5,0.8.... --> float
* string ---> collection of characters enclosed with "",'' --> str
    - "10",'14.55','a','abcdefghijklmnop'
* bolean --> True , False/1,0 --> true

In [ ]:
2.67
2.0
0.6
5 ---> 5.0

In [1]:
n = 10
_n1 = 10.5
name = "python"

In [2]:
print(n,name,_n1)

10 python 10.5

In [9]:
print(type(n))

<class 'int'>

In [10]:
print(type(_n1))

<class 'float'>

In [11]:
print(type(name))

<class 'str'>

In [17]:
n = 10
n,n1 = 10,26
n1=n2=n3=15

In [19]:
n

10

In [20]:
print(n1)

15

In [21]:
print(n3)

15

* types of declarations
1. statis
2. dynamic

In [ ]:
n = 10
n1 = 10.5
n2 = "abc"

In [23]:
#int
n = int(input("Enter a value"))
print(type(n))
print(n)

Enter a value5
<class 'int'>
5

In [3]:
#float
n1 = float(input("Enter the value:"))
print(type(n1))
print(n1)

Enter the value:6
<class 'float'>
6.0

In [4]:
#string
name = input("enter a valu:")
print(type(name))
print(name)

enter a valu:archana
<class 'str'>
archana

In [5]:
#string
name = input("enter a value:")
print(type(name))
print(name)

enter a value:10
<class 'str'>
10

In [7]:
#string
name = input("enter a valu:")
print(type(name))
print(name)

enter a valu:56
<class 'str'>
56

In [8]:
print(name+name)

5656

In [10]:
print(name*name)

TypeError: can't multiply sequence by non-int of type 'str'

In [11]:
print(type(name))

<class 'str'>

In [12]:
#typecasting
print(int(name)*int(name))

3136

In [13]:
56*56

3136

In [14]:
print(float(name)*float(name))

3136.0

In [15]:
name

'56'

In [16]:
n = 56
print(type(n))

<class 'int'>

In [18]:
n1 = float(n)
res = str(n)
print(type(n1))
print(type(res))
print(type(n))

<class 'float'>
<class 'str'>
<class 'int'>

In [ ]:
n = "54"
n1 = "67"

In [ ]:
num = "56"

In [19]:
n  = input()
n1 = input()
print(int(n)+int(n))
print(int(n)-int(n))
print(int(n)*int(n))
print(int(n)/int(n))
print(int(n)//int(n))
print(int(n)**int(n))
print(int(n)%int(n))

25
67
50
0
625
1.0
1
88817841970012523233890533447265625
0

In [22]:
num = input()
if int(num)%2 == 0:
    print("even")
else:
    print("odd")

5
odd

In [24]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']