## pandas
#### DataFrames--> two dimensional array
* it may be in list format or dictionary format

In [1]:
#using list
import pandas as pd
df = [['vidya','28','civil'],['anu','40','cse']]
pd.DataFrame(df,columns=['name','roll','branch'])

    name roll branch
0  vidya   28  civil
1    anu   40    cse

In [2]:
#using Dictionary
info = {'name':'vidya','college':'gec','branch':'civil','rollno':528}
info2 = {'name':'anu','college':'gec','branch':'cse'}
info3 = {'name':'ambika','college':'vishnu','branch':'ece'}
res = pd.DataFrame([info,info2,info3],index=[1,2,3])

In [5]:
res

  branch college    name  rollno
1  civil     gec   vidya   528.0
2    cse     gec     anu     NaN
3    ece  vishnu  ambika     NaN

In [6]:
l = pd.DataFrame({'name':['vidya','anu'],'branch':['civil','cse']},index=['abc','def'])

In [7]:
l

      name branch
abc  vidya  civil
def    anu    cse

In [8]:
#loc---> to give index data
#iloc --> to give index value
l

      name branch
abc  vidya  civil
def    anu    cse

In [9]:
l.loc['abc']

name      vidya
branch    civil
Name: abc, dtype: object

In [10]:
l.iloc[0]

name      vidya
branch    civil
Name: abc, dtype: object

In [11]:
l.iloc['abc']

TypeError: Cannot index by location index with a non-integer key

In [12]:
l['gender'] = 'Female'

In [13]:
l

      name branch  gender
abc  vidya  civil  Female
def    anu    cse  Female

In [14]:
l.T

           abc     def
name     vidya     anu
branch   civil     cse
gender  Female  Female

In [15]:
l.T.loc['name']

abc    vidya
def      anu
Name: name, dtype: object

In [16]:
l.T.loc['branch']

abc    civil
def      cse
Name: branch, dtype: object

In [18]:
l.T.iloc[0]

abc    vidya
def      anu
Name: name, dtype: object

In [19]:
l.T.iloc[3]

IndexError: single positional indexer is out-of-bounds