##### Good morning all
## Functions
* block of statements that performs perticular task is function
* when ever u call the function then only the block of statements will execute
- advntg
* code reusability
* code complexity
###### types of functions
1. built_in functions
    1. print
    2. input()
    1. max --> to calculate max value
    2. min --> to calculate the min value
    3. abs --> to convert the negative values into positive
    4. len --> to calculate the length 
    5. chr and ord ---> ord => to find find ascii value from the characte
                   --> chr => to calculate the character from the integer
    6. map and filters
2. user defined
* the function which is defined by the user to perform perticular task

In [1]:
l = [1,2,3,4,5,6,7]
print(max(l))
print(min(l))
print(len(l))

7
1
7

In [4]:
d = 10
d1 = 20
print(d-d1)
print(abs(d-d1))

-10
10

In [6]:
print(ord('a'))
print(chr(120))

97
x

### user defined function
1. required arg
2. default arg
3. keyword arg
4. variable length arg

In [9]:
#syntax of a function
def function_name(): #--> function definintion
    #statements for the task
function_name()

IndentationError: expected an indented block (<ipython-input-9-fc8a57385f75>, line 4)

In [10]:
def sample():
    print("welcome to python programming...")

In [11]:
sample()

welcome to python programming...

In [17]:
def sample1():
    n = 13
    n2 = 12 #---> static variable
    print("addition is",n+n2)
sample1()
print(n2)

addition is 25

NameError: name 'n2' is not defined

In [15]:
n1 = 12 #--> gloabal variable
def sample1():
    n = 13
    print("addition is",n+n1)
sample1()
print(n1)

addition is 25
12

In [18]:
#required arg
name = input()
name1 = input()
def required_arg(name,name1):
    print(name[2])
    print(name1[4])
required_arg()

archana
elisala

TypeError: required_arg() missing 2 required positional arguments: 'name' and 'name1'

In [19]:
#required arg
name = input()
name1 = input()
def required_arg(name,name1):
    print(name[2])
    print(name1[4])
required_arg(name,name1)

archana
elisala
c
a

In [20]:
#required arg
def required_arg(name2,name3):
    print(name2[2])
    print(name3[4])
required_arg(name2,name3)

NameError: name 'name2' is not defined

In [21]:
#required arg
def required_arg(name2,name3):
    print(name2[2])
    print(name3[4])
required_arg('python','apssdc')

t
d

In [37]:
#required arg
def required_arg(name2,name3):
    print(name2[2])
    print(name3[4])
required_arg('python','apssdc')

t
d

In [24]:
#default arg
def default(a,b=4):
    print("power is",a**b)
default(10,3)

power is 1000

In [25]:
#default arg
def default(a,b=4):
    print("power is",a**b)
default(10)

power is 10000

In [27]:
def default2(s,s1='ONLINE'):
    print(s[0])
    print(s1[-1])
default2('Archana')

A
E

In [30]:
def default2(s,s1=45):
    print(s[0])
    print(s1[-1])
default2('Archana')

A

TypeError: 'int' object is not subscriptable

In [32]:
#keyword arg
def keyword(name,branch,roll):
    print("Name is:",name,'\nBranch is:',branch,'\nRollnum is:',roll)
keyword('Árchana','CSE',540)

Name is: Árchana
Branch is: CSE
Rollnum is: 540

In [33]:
#keyword arg
def keyword(name,branch,roll):
    print("Name is:",name,'\nBranch is:',branch,'\nRollnum is:',roll)
keyword('CSE',540,'Árchana')

Name is: CSE
Branch is: 540
Rollnum is: Árchana

In [34]:
#keyword arg
def keyword(name,branch,roll):
    print("Name is:",name,'\nBranch is:',branch,'\nRollnum is:',roll)
keyword(branch='CSE',roll=540,name='Árchana')

Name is: Árchana
Branch is: CSE
Rollnum is: 540

In [41]:
#variable length
def variable(*Arg):
    print(Arg[-1])
variable('Archana','elisala','vidya','chintala')

chintala

In [42]:
def variable2(*kid):
    print(kid[1]+kid[2])
    
variable2('princy','ishu','sweety','blessy')

ishusweety

In [43]:
l = input().split()
l

archana python

['archana', 'python']

In [46]:
def variable2(*kid):
    print(l[0]+l[1])
variable2(l)

archanapython

In [47]:
def charaprinting(*arg):
    for i in s:
        print(i[0])
s = input().split()
charaprinting(s)

archana python online
a
p
o

In [ ]:
n = ['archana','python','online','py','abc']
even = pop
odd = ac

In [ ]:
#map
1. data type conversion
2. iterating iterable over the function

In [ ]:
map('1','2')
data type conversion ---> 1. data type
                          2. input
iterating iterable over the function --> 1. function_name
                                         2. input

In [ ]:
#1. data type conversion

In [48]:
n = input().split()
n

a b c d e f

['a', 'b', 'c', 'd', 'e', 'f']

In [49]:
n = input().split()
n

1 2 3 4 5 6

['1', '2', '3', '4', '5', '6']

In [50]:
n = input().split()
n

1.2 3.4 5.6 6.7 8.9

['1.2', '3.4', '5.6', '6.7', '8.9']

In [51]:
n = '123'
n1 = int(n)
n1

123

In [52]:
n = input().split()
n

1 2 3 4 5 6 7

['1', '2', '3', '4', '5', '6', '7']

In [54]:
converted_values = list(map(int,n))
converted_values

[1, 2, 3, 4, 5, 6, 7]

In [55]:
converted_values = list(map(float,n))
converted_values

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]

In [56]:
list_ = list(map(int,input().split()))
list_

1 2 3 4 5 6 7 8

[1, 2, 3, 4, 5, 6, 7, 8]

In [57]:
list_ = list(map(float,input().split()))
list_

1 2 3.65 3.6 2 4.7 7

[1.0, 2.0, 3.65, 3.6, 2.0, 4.7, 7.0]

In [58]:
#2. iterating iterable over the function
def even(n):
    if n%2 == 0:
        return True
    return False
l = list(map(even,[1,2,3,4,5,6,7,8,9]))
l

[False, True, False, True, False, True, False, True, False]

In [59]:
#2. iterating iterable over the function
def even(n):
    if n%2 == 0:
        return True
l = list(map(even,[1,2,3,4,5,6,7,8,9]))
l

[None, True, None, True, None, True, None, True, None]

In [61]:
def voting(n):
    if n>18:
        return 'eligible'
n = list(map(voting,[12,45,67,43,13,15,67,89]))
n

[None, 'eligible', 'eligible', 'eligible', None, None, 'eligible', 'eligible']

In [62]:
def voting(n):
    if n>18:
        return 'eligible'
    return 'not eligible'
n = list(map(voting,[12,45,67,43,13,15,67,89]))
n

['not eligible',
 'eligible',
 'eligible',
 'eligible',
 'not eligible',
 'not eligible',
 'eligible',
 'eligible']

In [65]:
def voting(n):
    if n>18:
        return True
n = list(filter(voting,[12,45,67,43,13,15,67,89]))
n

[45, 67, 43, 67, 89]

In [66]:
def voting(n):
    if n>18:
        return True
    return False
n = list(filter(voting,[12,45,67,43,13,15,67,89]))
n

[45, 67, 43, 67, 89]

In [67]:
def lengths(n):
    if len(n)%2 == 0:
        return n
    return "odd"
res = list(map(lengths,['archana','python','online','apssdc']))
res

['odd', 'python', 'online', 'apssdc']

In [69]:
def lengths(n):
    if len(n)%2 == 0:
        return n
    return False
res = list(filter(lengths,['archana','python','online','apssdc']))
res

['python', 'online', 'apssdc']

In [70]:
def lengths(n):
    if len(n)%2 == 0:
        return True
    return False
res = list(filter(lengths,['archana','python','online','apssdc']))
res

['python', 'online', 'apssdc']

In [71]:
def lengths(n):
    if len(n)%2 == 0:
        return True
res = list(filter(lengths,['archana','python','online','apssdc']))
res

['python', 'online', 'apssdc']

In [74]:
n = input().split()
even = ""
odd = ''
for i in n:
    if len(i)%2 == 0:
        even += i[0]
    else:
        odd += i[-1]
print(even)
print(odd)

abc abd abcd python abcde online
apo
cde

In [75]:
def string_ex(n):
    even = ""
    odd = ''
    for i in n:
        if len(i)%2 == 0:
            even += i[0]
        else:
            odd += i[-1]
    print(even)
    print(odd)
n = input().split()
string_ex(n)

abc abd abcd python abcde online
apo
cde