### Today Agenda:

- Comprehension
- Iterators and Generators
- Functional Programming

## Comprehension
- It is a process of creating new sequence from existing sequence
- Less memory
- Less code
- easy to understanding

### Types of comprehences
- List comprehension
- dictionary comprehension 
- set comprehension
- generator comprehension

### List comprehension

In [2]:
# normal list

li=[1,2,3,4,5,6,7,8,9]
li1=[]
for i in li:
    if i%2==0:
        li1.append(i)
print(li1)

[2, 4, 6, 8]

In [3]:
# list comprehension

li=[1,2,3,4,5,6,7,8,9]
li2=[i for i in li if i%2==0]
print(li2)

[2, 4, 6, 8]

In [10]:
li=[1,2,3,4,5,6,7,8,9]
b=[i if i%2!=0 else "Even" for i in li]
b

[1, 'Even', 3, 'Even', 5, 'Even', 7, 'Even', 9]

In [4]:
x=[i for i in range(1,11)]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
x1=[i**2 for i in range(1,11)]
x1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
x1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
z=["Python Programming","Indu Priya","APSSDC","Developer"]
li=[]
for i in z:
    for j in i.split():
        li.append(j)
li

['Python', 'Programming', 'Indu', 'Priya', 'APSSDC', 'Developer']

In [13]:
li

['Python', 'Programming', 'Indu', 'Priya', 'APSSDC', 'Developer']

In [14]:
z1=[j for i in z for j in i.split()]
z1

['Python', 'Programming', 'Indu', 'Priya', 'APSSDC', 'Developer']

In [21]:
z2=[[i+j for i in range (1,11)] for j in range(1,11)]
z2

[[2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
 [4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
 [6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
 [8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
 [9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]]

## Dictionary comprehension
{key:value}

In [22]:
dic={i:i*2  for i in range(1,11)}
dic

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [23]:
number=["1572066","16851AO518","16BF1A0415"]
names=["Sudhamani","Ravi","Chandrika"]
dic1={}
for (key,value) in zip(number,names):
    dic1[key]=value
dic1

{'1572066': 'Sudhamani', '16851AO518': 'Ravi', '16BF1A0415': 'Chandrika'}

In [29]:
num1=[1,2,3,4,5,6]
num2=[9,8,7,6,5,4]
dic2={}
for (key,value) in zip(num1,num2):
    dic2[key]=value
dic2

{1: 9, 2: 8, 3: 7, 4: 6, 5: 5, 6: 4}

## Set comprehension

In [31]:
set1={i**i for i in range(1,11)}
set1

{1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000}

## Generator Comprehension

In [33]:
my_list=[4,5,6,7]
s1=(i**4 for i in my_list)
s1
for i in s1:
    print(i)

256
625
1296
2401

In [35]:
my_list=[1,2,3,4]
s1=(i*2 for i in my_list)
print(s1)
for i in s1:
    print(i)

<generator object <genexpr> at 0x000001DED45D15E8>
2
4
6
8

## Functional Programmings

- Lambda
- map
- filter
- reduce

### **Lambda**
- The lambda is a operator or a lambda function is a way to create small ananymous functions i..e., function with out a name
- Lamdba functions combination of using map(),filter(),reduce()
- syn: lambda arg1,arg2,ar3.....  : expression

In [36]:
def add(a,b):
    return a+b
add(4,6)

10

In [38]:
# using lambda

add1=lambda a,b : a+b
add1(4,6)

10

## map()

- **Map()**
- Applies a given function to all the iterables and create a new list 

- syn: map(fun,iterables)

In [42]:
def mul(a):
    return a*a
x=map(mul,[1,2,3,4,5,6,7,8,9,0])
x1=map(mul,(1,2,3,4,5,6,7,8,9,0))
print(list(x))
print(tuple(x1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 0]
(1, 4, 9, 16, 25, 36, 49, 64, 81, 0)

In [45]:
s1=["apssdc","Indu","priya","mounI","lucky","surya","archana","vidya"]
li1=map(str.upper,s1)
list(li1)

['APSSDC', 'INDU', 'PRIYA', 'MOUNI', 'LUCKY', 'SURYA', 'ARCHANA', 'VIDYA']

## map() with lambda()

In [48]:
s=[1,2,3,4,5]
s2=map(lambda x:x**3 ,s)
print(list(s2))

[1, 8, 27, 64, 125]

## filter()

- Creates an output list consisting of values for which the function returns TRUE
- syntax:filter(fun,iterables)

In [50]:
s3=[20,30,40,55,76,89,36,29,22,12,1,2,3,4,5,6,7]
def great(x):
    if x>=29:
        return True
    return False
s4=filter(great,s3)
for i in s4:
    print(i,end=" ")

30 40 55 76 89 36 29

## filter with lambda()

In [52]:
s3=[20,30,40,55,76,89,36,29,22,12,1,2,3,4,5,6,7]
s4=filter(lambda x:x>=29,s3)
print(list(s4))

[30, 40, 55, 76, 89, 36, 29]

## Reduce()
- It returns a single value as a output

- syn : reduce(fun,seq)

In [ ]:
s5=[1,2,3,4,5,6]

here x=1
x+y

1 ---> 1+2=3 
x=3

3 ---> 3+3=6
6 ---> 6+4=10
10 ---->10+5=15
15--->15+6=21

In [121]:
from functools import reduce
def a(x,y):
    return x+y
s5=reduce(a,[1,2,3,4,5,6])
(s5)

21

## reduce with lambda

In [60]:

s6=reduce(lambda i,j:i+j,[1,2,3,4,5,6])
s6

21

## map with filter()

In [63]:
s3=[20,30,40,55,76,89,36,29,22,12,1,2,3,4,5,6,7]
d1=filter((lambda x:x>29),map(lambda x:x+x,s3))
list(d1)

[40, 60, 80, 110, 152, 178, 72, 58, 44]

## filter with map()

In [68]:
d2=map(lambda x:x+x,filter(lambda x:(x>29),s3))
list(d2)

[60, 80, 110, 152, 178, 72]

### map(),filter,reduce  with lambda

In [79]:
s3=[20,30,40,55,76,89,36,29,22,12,1,2,3,4,5,6,7]
d3=reduce(lambda x,y:x+y,map(lambda x:x+x,filter(lambda x:(x>29),s3)))
d3

652

### Iterators and Generators

## Iterator
- It will contain number elements and we can access elements as per requirement
- **iter**  and **next**

In [80]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [83]:
str1="Python Programming" # i want to add online after python
for i in str1:
    print(i)

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

In [85]:
str2=iter(str1)
next(str2)

'P'

In [86]:
next(str2)

'y'

In [87]:
next(str2)

't'

In [88]:
next(str2)

'h'

In [90]:
next(str2)

'n'

In [91]:
next(str2)+"Online"

' Online'

In [92]:
next(str2)

'P'

In [93]:
next(str2)+ "this is added"

'rthis is added'

In [94]:
next(str2)

'o'

In [95]:
next(str2)

'g'

In [96]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [97]:
li1=[1,2,3,4,5,6,7,8,9]
str1=iter(li1)
next(str1)

1

In [98]:
next(str1)

2

In [99]:
next(str1)

3

In [100]:
next(str1)

4

In [101]:
next(str1)*5

25

## Generators

- Generator also a function but in place of **return** statement we are using **yield**
- yield

In [107]:
def generator():
    return 4
    return 5
    return 78
for i in generator():
    print(i)
generator()

TypeError: 'int' object is not iterable

In [115]:
def generator1():
    yield 4
    yield 5
    yield 6 
    yield 7
for i in generator1():
    print(i)

4
5
6
7

In [119]:
def gen3():
    yield 1
    yield 2
    yield 3
    yield 4
x1=gen3()
print(x1.__next__())
print(x1.__next__())
print(x1.__next__())
print(x1.__next__())

1
2
3
4

### Tasks

In [ ]:
1. words=["InduPriya","INDIA","mouni","Lucky"]
starting letter ("I")

In [ ]:
2.marks={"indu":80,"surya":80,"lucky":99,"mouni":30,"Prasanna":90}
<35

In [ ]:
2.marks={"indu":80,"surya":80,"lucky":99,"mouni":30,"Prasanna":90}
<35

In [ ]:
4.print  Transpose matrix given ex

[[123],[4,5,6],[7,8,9]]