In [ ]:
# Today Agenda
# Tuples
# Dictionary
# Sets

# Tuples

- It is represented as a Paranthesis()
- It is Immuatable(can't changed)
- It is hetrogenies

In [2]:
t1=()
print(type(t1))
print(t1)

<class 'tuple'>
()

In [3]:
t2=(1,"hello",4.0)
t2

(1, 'hello', 4.0)

In [4]:
t2[1]

'hello'

In [5]:
t2[1]="Indu"

TypeError: 'tuple' object does not support item assignment

In [6]:
t2[1:2]

('hello',)

In [8]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [10]:
t3=("1,9","hi","InduPriya","APSSDC",8.0,456,9)
t3

('1,9', 'hi', 'InduPriya', 'APSSDC', 8.0, 456, 9)

In [11]:
t3.count("indu")

0

In [12]:
t3.count("APSSDC")

1

In [15]:
t3.index("hi") # it returns position

1

- We have two typs of tuples
    - Packing 
    - unpacking

In [31]:
t4=("InduPriya","Developer",1,60.8) #tuple packing
t4

('InduPriya', 'Developer', 1, 60.8)

In [32]:
(name,designation,interger,floats)=t4 #unpacking

In [35]:
print(name,designation,interger,floats)

InduPriya Developer 1 60.8

In [36]:
print(name)

InduPriya

In [37]:
print(interger)

1

In [38]:
print(floats)

60.8

## Dictionary

- It is represent as a {}
- {key:value,key:value}
- here keys are unique values
- values are not unique

In [4]:
mydict={}
print(mydict)
print(type(mydict))

{}
<class 'dict'>

In [13]:
# dict constructor
d1=dict()
print(d1)
print(type(d1))

{}
<class 'dict'>

In [15]:
dict1={"1":"one","2":"two","three":3,4.0:"float"}
dict1

{'1': 'one', '2': 'two', 'three': 3, 4.0: 'float'}

In [16]:
mydict

{}

In [15]:
dict("name"="Indu","course"="python",1="one")

SyntaxError: keyword can't be an expression (<ipython-input-15-559291ea41c5>, line 1)

In [21]:
d2=dict(name="InduPriya",course="Python")
d2

{'name': 'InduPriya', 'course': 'Python'}

In [22]:
d2["name"] # key calling and reprent value

'InduPriya'

In [23]:
d2["Python"] # trying to call key with the help of value

KeyError: 'Python'

In [24]:
d2[1]="newkey"

In [25]:
d2

{'name': 'InduPriya', 'course': 'Python', 1: 'newkey'}

In [26]:
d2["newkey"]="newvalue"

In [27]:
d2

{'name': 'InduPriya', 'course': 'Python', 1: 'newkey', 'newkey': 'newvalue'}

In [28]:
d2

{'name': 'InduPriya', 'course': 'Python', 1: 'newkey', 'newkey': 'newvalue'}

In [29]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [30]:
d2.items()

dict_items([('name', 'InduPriya'), ('course', 'Python'), (1, 'newkey'), ('newkey', 'newvalue')])

In [32]:
print(d2.items())

dict_items([('name', 'InduPriya'), ('course', 'Python'), (1, 'newkey'), ('newkey', 'newvalue')])

In [33]:
print(d2.values())

dict_values(['InduPriya', 'Python', 'newkey', 'newvalue'])

In [34]:
print(d2.keys())

dict_keys(['name', 'course', 1, 'newkey'])

In [35]:
d2={'name': 'InduPriya', 'course': 'Python', 1: 'newkey', 'newkey': 'newvalue'}

In [36]:
d2

{'name': 'InduPriya', 'course': 'Python', 1: 'newkey', 'newkey': 'newvalue'}

In [37]:
d2={'name': 'InduPriya', 'course': 'Python', 1: 'newkey', 'newkey': 'newvalue'}
for i in d2:
    print(i)

name
course
1
newkey

In [39]:
# values
for i in d2.values():
    print(i)

InduPriya
Python
newkey
newvalue

In [40]:
# Items
for i in d2.items():
    print(i)

('name', 'InduPriya')
('course', 'Python')
(1, 'newkey')
('newkey', 'newvalue')

In [41]:
# copy
d2

{'name': 'InduPriya', 'course': 'Python', 1: 'newkey', 'newkey': 'newvalue'}

In [42]:
d4=d2.copy()

In [43]:
d4

{'name': 'InduPriya', 'course': 'Python', 1: 'newkey', 'newkey': 'newvalue'}

In [44]:
d2

{'name': 'InduPriya', 'course': 'Python', 1: 'newkey', 'newkey': 'newvalue'}

In [45]:
d4

{'name': 'InduPriya', 'course': 'Python', 1: 'newkey', 'newkey': 'newvalue'}

In [46]:
d4.popitem() # default last value deleted
d4

{'name': 'InduPriya', 'course': 'Python', 1: 'newkey'}

In [47]:
d4.pop("course") # we gave keyname

'Python'

In [48]:
d4

{'name': 'InduPriya', 1: 'newkey'}

In [49]:
d4

{'name': 'InduPriya', 1: 'newkey'}

In [50]:
d4.clear()

In [51]:
d4

{}

In [52]:
d4.update({"newkey":"newvalue"})
d4

{'newkey': 'newvalue'}

In [55]:
d4.update({"newkey1":"newvalue1"})
d4

{'newkey': 'newvalue', 'newkey1': 'newvalue1'}

In [57]:
d4

{'newkey': 'newvalue', 'newkey1': 'newvalue1'}

In [58]:
d4.update({"newkey3":"newvalue1","newkey4":"newvalue"})
d4

{'newkey': 'newvalue',
 'newkey1': 'newvalue1',
 'newkey3': 'newvalue1',
 'newkey4': 'newvalue'}

In [59]:
d4

{'newkey': 'newvalue',
 'newkey1': 'newvalue1',
 'newkey3': 'newvalue1',
 'newkey4': 'newvalue'}

In [60]:
print(d4)

{'newkey': 'newvalue', 'newkey1': 'newvalue1', 'newkey3': 'newvalue1', 'newkey4': 'newvalue'}

In [61]:
d4.setdefault("newkey5")
d4

{'newkey': 'newvalue',
 'newkey1': 'newvalue1',
 'newkey3': 'newvalue1',
 'newkey4': 'newvalue',
 'newkey5': None}

In [62]:
print(d4)

{'newkey': 'newvalue', 'newkey1': 'newvalue1', 'newkey3': 'newvalue1', 'newkey4': 'newvalue', 'newkey5': None}

NameError: name 'newkey4' is not defined

In [64]:
d4

{'newkey': 'newvalue',
 'newkey1': 'newvalue1',
 'newkey3': 'newvalue1',
 'newkey4': 'newvalue',
 'newkey5': None}

In [66]:
d4.setdefault("newkay6","newvalue6")
d4

{'newkey': 'newvalue',
 'newkey1': 'newvalue1',
 'newkey3': 'newvalue1',
 'newkey4': 'newvalue',
 'newkey5': None,
 'newkay6': 'newvalue6'}

In [67]:
d3

NameError: name 'd3' is not defined

In [16]:
d1

NameError: name 'd1' is not defined

In [69]:
del d1

In [70]:
d1

NameError: name 'd1' is not defined

In [71]:
#fromkeys
#its creats a new dictonary from sequence
#syn:
mykeys=("mykey1","mykey2","mykey3")
mydict2=dict.fromkeys(mykeys)

In [72]:
mydict2

{'mykey1': None, 'mykey2': None, 'mykey3': None}

In [74]:
mydict3=dict.fromkeys(mykeys,"newkey")
mydict3

{'mykey1': 'newkey', 'mykey2': 'newkey', 'mykey3': 'newkey'}

In [76]:
mydict3["mykey2"]

'newkey'

In [78]:
mydict3.get("mykey1")

'newkey'

In [79]:
#update example
x={1:"one",2:"two"}
y={3:"three",4:"four"}
z={5:"five",6:"six"}

a={}

for key,value in x.items():
    a.update({key:value})
print(a)

{1: 'one', 2: 'two'}

In [80]:
for key,value in y.items():
    a.update({key:value})
print(a)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [81]:
for key,value in z.items():
    a.update({key:value})
print(a)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [82]:
a

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [83]:
a[1]

'one'

In [84]:
a[6]

'six'

In [ ]:
# contact application
# create contact  based on key : value
# update
# delete
# search

In [93]:
mycontacts={}
def createcontact(name,number):
    if name in mycontacts:
        print("given name is already exit")
    else:
        mycontacts[name]=number
        print("contact",name ,"and number is", number ,"is successfully added" )

In [94]:
createcontact("InduPriya",9876543210)

contact InduPriya and number is 9876543210 is successfully added

In [91]:
createcontact("InduPriya",9876543210)

contact InduPriya and number is 9876543210 is successfully added

In [95]:
mycontacts

{'InduPriya': 9876543210}

In [96]:
createcontact("InduPriya",9876543210)

given name is already exit

In [97]:
createcontact("Mouni",9876543210)

contact Mouni and number is 9876543210 is successfully added

In [98]:
createcontact("Lucky",9876543211)

contact Lucky and number is 9876543211 is successfully added

In [99]:
mycontacts

{'InduPriya': 9876543210, 'Mouni': 9876543210, 'Lucky': 9876543211}

In [100]:
createcontact("Lucky",9876543211)

given name is already exit

# Sets
- It is represent as {}
- It noes not support duplicate values
- It follows unique values
- It creates a particular
- It does not support Item change
- It supports adding the values

In [101]:
# create empty set
myset={} # its create a dictionary
print(type(myset))
print(myset)

<class 'dict'>
{}

In [102]:
# how to create set
set1=set()
print(type(set1))
print(set1)

<class 'set'>
set()

In [105]:
set2={9,8,7,3,4,5,6,8,3,7,7,7,3,5,71,1,2,4,5785,89,5,7,5,0}
print(set2)
type(set2)

{89, 1, 2, 3, 4, 5, 6, 7, 8, 9, 71, 0, 5785}

set

In [107]:
set3={9,8,7,3,4,5,6,8,3,7,7,7,3,5,71,1,2,4,5785,89,5,7,5,0}
set3

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 71, 89, 5785}

In [108]:
set3[4]=11
set3

TypeError: 'set' object does not support item assignment

In [109]:
set3[4]

TypeError: 'set' object is not subscriptable

In [110]:
set3

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 71, 89, 5785}

In [111]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [11]:
set4={1,4,5,7,3,6,"indu","apssdc","priya",8.0,9}
set4

{1, 3, 4, 5, 6, 7, 8.0, 9, 'apssdc', 'indu', 'priya'}

In [12]:
# add
set4.add("newset")
set4

{1, 3, 4, 5, 6, 7, 8.0, 9, 'apssdc', 'indu', 'newset', 'priya'}

In [13]:
set4.add("newset2",4)
set4

TypeError: add() takes exactly one argument (2 given)

In [120]:
# update()
set4.update({"newset","updated"})
set4

{1,
 3,
 4,
 5,
 6,
 7,
 8.0,
 9,
 'a',
 'apssdc',
 'd',
 'e',
 'indu',
 'n',
 'newset',
 'p',
 'priya',
 's',
 't',
 'u',
 'updated',
 'w'}

In [121]:
print(set4)

{1, 3, 4, 5, 6, 7, 8.0, 9, 'w', 'u', 'a', 'priya', 'indu', 's', 't', 'newset', 'p', 'n', 'updated', 'd', 'e', 'apssdc'}

In [122]:
set4

{1,
 3,
 4,
 5,
 6,
 7,
 8.0,
 9,
 'a',
 'apssdc',
 'd',
 'e',
 'indu',
 'n',
 'newset',
 'p',
 'priya',
 's',
 't',
 'u',
 'updated',
 'w'}

In [123]:
print(set4)

{1, 3, 4, 5, 6, 7, 8.0, 9, 'w', 'u', 'a', 'priya', 'indu', 's', 't', 'newset', 'p', 'n', 'updated', 'd', 'e', 'apssdc'}

In [124]:
set4.remove('w')
print(set4)

{1, 3, 4, 5, 6, 7, 8.0, 9, 'u', 'a', 'priya', 'indu', 's', 't', 'newset', 'p', 'n', 'updated', 'd', 'e', 'apssdc'}

In [125]:
set4.remove('w')
print(set4)

KeyError: 'w'

In [128]:
set4.discard('z')
print(set4)
set4

{1, 3, 4, 5, 6, 7, 8.0, 9, 'u', 'a', 'priya', 'indu', 's', 't', 'newset', 'p', 'n', 'updated', 'd', 'e', 'apssdc'}

{1,
 3,
 4,
 5,
 6,
 7,
 8.0,
 9,
 'a',
 'apssdc',
 'd',
 'e',
 'indu',
 'n',
 'newset',
 'p',
 'priya',
 's',
 't',
 'u',
 'updated'}

In [130]:
set4.pop()
print(set4)

{4, 5, 6, 7, 8.0, 9, 'u', 'a', 'priya', 'indu', 's', 't', 'newset', 'p', 'n', 'updated', 'd', 'e', 'apssdc'}

In [131]:
set4

{4,
 5,
 6,
 7,
 8.0,
 9,
 'a',
 'apssdc',
 'd',
 'e',
 'indu',
 'n',
 'newset',
 'p',
 'priya',
 's',
 't',
 'u',
 'updated'}

In [132]:
set5=set4.copy()
set5

{4,
 5,
 6,
 7,
 8.0,
 9,
 'a',
 'apssdc',
 'd',
 'e',
 'indu',
 'n',
 'newset',
 'p',
 'priya',
 's',
 't',
 'u',
 'updated'}

In [133]:
set4

{4,
 5,
 6,
 7,
 8.0,
 9,
 'a',
 'apssdc',
 'd',
 'e',
 'indu',
 'n',
 'newset',
 'p',
 'priya',
 's',
 't',
 'u',
 'updated'}

In [134]:
set5.clear()

In [135]:
set5

set()

In [2]:
mylist=[1,546,4,6,5,4,5,6,5]
print(mylist)
print(type(mylist))
set9=set(mylist)
print(set9)

[1, 546, 4, 6, 5, 4, 5, 6, 5]
<class 'list'>
{1, 546, 4, 5, 6}

In [3]:
mylist=[1,546,4,6,5,4,5,6,5]
sets=set(mylist)
print(sets)

{1, 546, 4, 5, 6}

In [ ]:
### Task explanation from string

# 2. a="This Is Indu Priya working in APSSDC" 
# print which is ending with vowels
# o/p: Indu Priya

In [155]:
string=input()
vowels="aeiouAEIOU"
splitt=string.split(" ")
for i in range(len(splitt)):
    a=splitt[i]
    if not([a[-1] in vowels]):
        print(a)

This Is Indu Priya working in APSSDC

In [1]:
def vowel(z):
    if(z=="a" or z=="e" or z=="i" or z=="o" or z=="u" or z=="A" or z=="E" or z=="I" or z=="O" or z=="U"):
        return True
    return False

string=input("Enter string")
splitt=string.split()
for i in splitt:
    if vowel(i[-1]):
        print(i,end=" ")

Enter stringThis Is Indu Priya working in APSSDC
Indu Priya

In [162]:
# 3.s="Pokuri InduPriya"
# o/p:P.Indu Priya
name=input()
s=name.split(" ")
i=""
for a in s[1:]:
    i+=(a+" ")
print(name[0]+"."+i)

Pokuri Indu Priya
P.Indu Priya